/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

/* for sidenav to take a whole page */
html, body { 
    margin: 0;
    height: 100%;
}

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    display: block;
}

.justify {
    text-align: justify;
}

.fill-parent {
    width: 100%;
    height: 100%;
}

.title {
    text-align: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.big__font {
    font-size: 40pt;
}

.button {
    background-color: #14BF98;
    border: 0.125rem solid #14bf98;
    color: #FFFFFF;
    border-radius: 25px;
    text-transform: uppercase;
}

.button:hover {
    background-color: transparent;
    color: #14bf98;
    text-decoration: none;
    cursor: pointer; 
}

.button:focus {
    outline: none; 
}
