/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

/* for sidenav to take a whole page */
html, body { 
    margin: 0;
    height: 100%;
}

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.justify {
    text-align: justify;
}

.fill-parent {
    width: 100%;
    height: 100%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.big__font {
    font-size: 40pt;
}
