.form-group {
    background-color: #14BF98;
    margin: 20px auto;
    padding: 40px;
    border-radius: 30px;
}

.form-control, .button {
    margin: 10px auto;
    overflow: auto;
}

.form-control label {
    color: #FFFFFF;
    display: block;
    margin-bottom: 5px;
}

.form-control textarea {
    height: 150px;
}

.form-control input,
.form-control textarea {
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    border: 0;
    box-sizing: border-box;
}

.button-submit button:focus,
.form-control input:focus,
.form-control textarea:focus {
    outline: none;
}

.required:after {
    content:" *";
    color: red;
}

button {
    color: #FFFFFF;
    background-color: transparent;
    width: 100px;
    height: 30px;
    border: 0.125rem solid #FFFFFF;
    border-radius: 25px;
    float: right;
    font-weight: bold;
}

button[type="submit"]:hover {
    cursor: pointer;
    border-color: #0E8166;
    color: #0E8166;
}

.button-submit::after {
    display: block;
    content: "";
    clear: both;
}

.error-warning {
    color: red;
}

@media(min-width: 768px){

    .error-warning {
        padding-left: 20%;
    }

    .form-control label {
        width: 20%;
        vertical-align: top;
        color: #FFFFFF;
        display: inline-block;
    }


    .form-control input,
    .form-control textarea {
        width: 80%;
    }
}