<div class="form-group">
    <form [formGroup]="formData" (ngSubmit)="onSubmit()">
        <div class="form-control">
            <label class="required" for="firstName">Prénom:</label>
            <input type="text" formControlName="firstName" placeholder="prénom">
        </div>
        <div *ngIf="firstName.invalid && firstName.dirty || firstName.touched">
            <div class="error-warning" *ngIf="firstName.errors?.required">
                Prénom obligatoire.
            </div>
            <div class="error-warning" *ngIf="firstName.errors?.minlength">
                Minimum 3 caractères requis
            </div>
        </div>
        <div class="form-control">
            <label class="required" for="lastName">Nom:</label>
            <input type="text" formControlName="lastName" placeholder="nom">
        </div>
        <div *ngIf="lastName.invalid && lastName.dirty || lastName.touched">
            <div class="error-warning" *ngIf="lastName.errors?.required">
                Nom obligatoire.
            </div>
            <div class="error-warning" *ngIf="lastName.errors?.minlength">
                Minimum 3 caractères requis
            </div>
        </div>
        <div class="form-control">
            <label for="company">Société:</label>
            <input type="text" formControlName="company" placeholder="société">
        </div>
        <div class="form-control">
            <label class="required" for="email">Email:</label>
            <input type="text" formControlName="email" placeholder="mon@email">
        </div>
        <div *ngIf="email.invalid && email.dirty || email.touched">
            <div class="error-warning" *ngIf="email.errors?.required">
                Email obligatoire.
            </div>
            <div class="error-warning" *ngIf="email.errors?.pattern">
                Veuillez entrer un email valide.
            </div>
        </div>
        <div class="form-control">
            <label for="phone">Téléphone:</label>
            <input type="text" formControlName="phone">
        </div>
        <div class="form-control">
            <label class="required" for="message">Message:</label>
            <textarea formControlName="message" placeholder="Votre message"></textarea>
        </div>
        <div *ngIf="message.invalid && message.dirty || message.touched">
            <div class="error-warning" *ngIf="message.errors?.required">
                Message obligatoire.
            </div>
        </div>
        <div class="button-submit">
            <button type="submit" [disabled]="!formData.valid">Envoyer</button>
        </div>
    </form>
</div>
